In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('datasets/boston.csv')
df

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [17]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [19]:
X = df.iloc[:, :-1].values
y = df.iloc[:,  -1].values

In [20]:
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
sc = MinMaxScaler()
X = sc.fit_transform(X)
poly = PolynomialFeatures()
X = poly.fit_transform(X)

In [21]:
X.shape

(506, 105)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test  =train_test_split(X, y, test_size=0.25, random_state=0)

In [23]:
def fitAndTest(model):
    model.fit(X_train, y_train)
    score = model.score(X_train, y_train)
    print('Training score: {:.3f}'.format(score))
    score = model.score(X_test, y_test)
    print('Testing score:  {:.3f}'.format(score))

In [24]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
fitAndTest(model)

Training score: 0.952
Testing score:  0.607

In [30]:
from sklearn.linear_model import Ridge
for alpha in [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000]:
    model = Ridge(alpha=alpha)
    print('-----alpha=', alpha)
    fitAndTest(model)

-----alpha=0.000-----
Training score: 0.951
Testing score:  0.618
-----alpha=0.001-----
Training score: 0.951
Testing score:  0.630
-----alpha=0.010-----
Training score: 0.944
Testing score:  0.702
-----alpha=0.100-----
Training score: 0.928
Testing score:  0.772
-----alpha=1.000-----
Training score: 0.886
Testing score:  0.753
-----alpha=10.000-----
Training score: 0.788
Testing score:  0.636
-----alpha=100.000-----
Training score: 0.596
Testing score:  0.415
-----alpha=1000.000-----
Training score: 0.286
Testing score:  0.191