In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/spam.csv')
df

     Category                                            Message
0         ham  Your gonna have to pick up a $1 burger for you...
1         ham  Sorry my roommates took forever, it ok if I co...
2        spam  SMS. ac Sptv: The New Jersey Devils and the De...
3         ham                 Sorry, I'll call later in meeting.
4        spam  As a valued customer, I am pleased to advise y...
...       ...                                                ...
5569      ham      Didn't you get hep b immunisation in nigeria.
5570      ham                    Fair enough, anything going on?
5571      ham  Yeah hopefully, if tyler can't do it I could m...
5572     spam         Upto 20% off all makeup. Don't miss out!!!
5573      ham  Let's go to the football match this weekend to...

[5574 rows x 2 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5574 non-null   object
 1   Message   5574 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [4]:
category = pd.get_dummies(df['Category'], drop_first=True)
df = pd.concat([df, category], axis=1)
df

     Category                                            Message  spam
0         ham  Your gonna have to pick up a $1 burger for you...     0
1         ham  Sorry my roommates took forever, it ok if I co...     0
2        spam  SMS. ac Sptv: The New Jersey Devils and the De...     1
3         ham                 Sorry, I'll call later in meeting.     0
4        spam  As a valued customer, I am pleased to advise y...     1
...       ...                                                ...   ...
5569      ham      Didn't you get hep b immunisation in nigeria.     0
5570      ham                    Fair enough, anything going on?     0
5571      ham  Yeah hopefully, if tyler can't do it I could m...     0
5572     spam         Upto 20% off all makeup. Don't miss out!!!     1
5573      ham  Let's go to the football match this weekend to...     0

[5574 rows x 3 columns]

In [5]:
df.drop(['Category'], axis=1, inplace=True)
df

                                                Message  spam
0     Your gonna have to pick up a $1 burger for you...     0
1     Sorry my roommates took forever, it ok if I co...     0
2     SMS. ac Sptv: The New Jersey Devils and the De...     1
3                    Sorry, I'll call later in meeting.     0
4     As a valued customer, I am pleased to advise y...     1
...                                                 ...   ...
5569      Didn't you get hep b immunisation in nigeria.     0
5570                    Fair enough, anything going on?     0
5571  Yeah hopefully, if tyler can't do it I could m...     0
5572         Upto 20% off all makeup. Don't miss out!!!     1
5573  Let's go to the football match this weekend to...     0

[5574 rows x 2 columns]

In [6]:
X = df['Message']
y = df['spam']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X_train_new = vectorizer.fit_transform(X_train.values)
X_train_new.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [9]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_new, y_train)

MultinomialNB()

In [10]:
X_test_new = vectorizer.transform(X_test.values)
score = model.score(X_test_new, y_test)
print("Model's accuracy: {:.3f}".format(score))

Model's accuracy: 0.984