In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df_train = pd.read_csv('datasets/mnist_train.csv')
df_train.head(3)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df_test = pd.read_csv('datasets/mnist_test.csv')
df_test.head(3)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X_train = df_train.iloc[:, 1:].values
X_test = df_test.iloc[:, 1:].values
y_train = df_train.iloc[:, 0].values
y_test = df_test.iloc[:, 0].values

In [12]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.fit_transform(X_test)

In [13]:
from sklearn.neural_network import MLPClassifier
def fitAndTest(X_train, X_test, y_train, y_test):
    model = MLPClassifier(random_state=0)
    model.fit(X_train, y_train)
    accuracy = model.score(X_train, y_train)
    print('Training score: {:.3f}'.format(accuracy))
    accuracy = model.score(X_test, y_test)
    print('Testing score: {:.3f}'.format(accuracy))

In [14]:
print('Before scaling: ')
fitAndTest(X_train, X_test, y_train, y_test)

Before scaling:
Training score: 0.993
Testing score: 0.965

In [15]:
print('After scaling: ')
fitAndTest(X_train_scaled, X_test_scaled, y_train, y_test)

After scaling:
Training score: 1.000
Testing score: 0.974

In [16]:
from sklearn.decomposition import PCA
pac = PCA(n_components=1)

pComponent = pac.fit_transform(X_train_scaled)
pDF = pd.DataFrame(data=pComponent, columns=['PC1'])
df_train_2 = pd.concat([pDF,df_train['label']], axis=1)
df_train_2

            PC1  label
0     -0.922083      5
1      8.709004      0
2      2.328146      4
3     -6.582261      1
4     -5.183277      9
...         ...    ...
59995 -2.039349      8
59996  0.607840      3
59997 -3.777149      5
59998  1.722448      6
59999 -1.427255      8

[60000 rows x 2 columns]

In [17]:
pComponent = pac.fit_transform(X_test_scaled)
pDF = pd.DataFrame(data=pComponent, columns=['PC1'])
df_test_2 = pd.concat([pDF, df_test['label']], axis=1)
df_test_2

            PC1  label
0     -5.458312      7
1      2.804681      2
2     -7.411291      1
3      8.751213      0
4     -0.065755      4
...         ...    ...
9995   3.579571      2
9996   3.244789      3
9997  -5.004433      4
9998  -1.420793      5
9999  13.142700      6

[10000 rows x 2 columns]

In [18]:
X_train_2 = df_train_2.iloc[:, :-1].values
X_test_2 = df_test_2.iloc[:, :-1].values
y_train_2 = df_train_2.iloc[:, -1].values
y_test_2 = df_test_2.iloc[:, -1].values

In [19]:
X_train_2_scaled = sc.fit_transform(df_train_2)
X_test_2_scaled = sc.fit_transform(df_test_2)

fitAndTest(X_train_2_scaled, X_test_2_scaled, y_train_2, y_test_2)

Training score: 1.000
Testing score: 1.000