In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_train = pd.read_csv('datasets/mnist_train.csv')
df_train.head(3)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df_test = pd.read_csv('datasets/mnist_test.csv')
df_test.head(3)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X_train = df_train.iloc[:, 1:].values
X_test = df_test.iloc[:, 1:].values
y_train = df_train.iloc[:, 0].values
y_test = df_test.iloc[:, 0].values

In [5]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.fit_transform(X_test)

In [6]:
from sklearn.neural_network import MLPClassifier
def fitAndTest(X_train, X_test, y_train, y_test):
    model = MLPClassifier(random_state=0)
    model.fit(X_train, y_train)
    accuracy = model.score(X_train, y_train)
    print('Training score: {:.3f}'.format(accuracy))
    accuracy = model.score(X_test, y_test)
    print('Testing score: {:.3f}'.format(accuracy))

In [7]:
print('Before scaling: ')
fitAndTest(X_train, X_test, y_train, y_test)

Before scaling:
Training score: 0.995
Testing score: 0.963

In [8]:
print('After scaling: ')
fitAndTest(X_train_scaled, X_test_scaled, y_train, y_test)

After scaling:
Training score: 0.997
Testing score: 0.972

In [9]:
from sklearn.decomposition import PCA
pac = PCA(n_components=2)

pComponent = pac.fit_transform(X_train_scaled)
pDF = pd.DataFrame(data=pComponent, columns=['PC1', 'PC2'])
df_train_2 = pd.concat([pDF,df_train['label']], axis=1)
df_train_2

            PC1       PC2  label
0     -0.922095 -4.813853      5
1      8.708927 -7.755263      0
2      2.328397  9.430843      4
3     -6.582188 -3.746941      1
4     -5.183266  3.132789      9
...         ...       ...    ...
59995 -2.039302 -5.118883      8
59996  0.607844 -6.498506      3
59997 -3.777243 -3.230584      5
59998  1.722296 -4.948806      6
59999 -1.427217 -6.175224      8

[60000 rows x 3 columns]

In [10]:
pComponent = pac.fit_transform(X_test_scaled)
pDF = pd.DataFrame(data=pComponent, columns=['PC1', 'PC2'])
df_test_2 = pd.concat([pDF, df_test['label']], axis=1)
df_test_2

            PC1       PC2  label
0     -5.458321  6.414034      7
1      2.804404 -8.028734      2
2     -7.411239 -3.864057      1
3      8.751241  0.045930      0
4     -0.065752  6.296289      4
...         ...       ...    ...
9995   3.579452 -3.367954      2
9996   3.244825 -1.981508      3
9997  -5.004347  1.153621      4
9998  -1.420826 -4.422832      5
9999  13.142661 -4.262991      6

[10000 rows x 3 columns]

In [11]:
X_train_2 = df_train_2.iloc[:, :-1].values
X_test_2 = df_test_2.iloc[:, :-1].values
y_train_2 = df_train_2.iloc[:, -1].values
y_test_2 = df_test_2.iloc[:, -1].values

In [12]:
fitAndTest(X_train_2, X_test_2, y_train_2, y_test_2)

Training score: 0.372
Testing score: 0.372